body {
  margin: 0;
  font-family:  'Apercu Arabic Pro',
  sans-serif;
  /*background-image: url("./ui/assets/background.svg");*/
  background: url('ui/assets/background.svg') 0 0/100% 100% no-repeat fixed;
  /*
  background-repeat: no-repeat;
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
